.contentStyle {
  text-align: -webkit-center;
}

.cardStyle {
  width: 65%;
  margin: 30px;
  border: black;
  background-color: lightgrey;
}

.answerStyle {
  width: 50%;
  margin: 15px;
  border: black;
  background-color: lightgrey;
}
